    /* PAGE BACKGROUND */
    
    body {
        background-color: #E5EBE2;
        animation: fadeIn ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        margin: 0;
        transition: background-color 1s ease;
    }
    
    .desktopHide {
        display: none;
    }
    
    .mobileShow {
        display: none;
    }
    /* NAVIGATION BAR */
    
    nav {
        top: 0;
        left: 0;
        right: 0;
        height: 90px;
        position: fixed;
        z-index: 3;
        padding-right: 35px;
        backdrop-filter: blur(0.8);
    }
    
    nav ul {
        padding-top: 1em;
        list-style-type: none;
        overflow: hidden;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        color: #3d3d3d;
        font-family: "Jura", monospace;
        font-size: 1.4em;
        transition: all ease-out 250ms;
    }
    
    nav ul li.active a {
        color: #87A678;
        border-radius: 30px;
        transition: 0.2s;
        font-weight: 1000;
    }
    
    nav.light a {
        color: white;
    }
    
    nav.light a:hover {
        color: #87A678;
    }
    
    nav .menu {
        clear: none;
        max-height: none;
    }
    
    nav .menu-icon {
        display: none;
    }
    
    nav .menu-btn[type=checkbox] {
        display: none;
    }
    
    video {
        padding-top: 8em;
        padding-bottom: 1.5em;
    }
    /* HEADER */
    
    header {
        padding-bottom: 100px;
    }
    
    header video {
        filter: brightness(100%)
    }
    /* ABOUT SECTION */
    
    .aboutme-grid {
        display: flex;
        align-items: left;
        justify-content: left;
    }
    
    .aboutme {
        background-color: #e3e2de;
        padding-right: 8em;
        padding-left: 6em;
        padding-top: 5em;
        padding-bottom: 10em;
    }
    
    .aboutme h1 {
        color: #3d3d3d;
    }
    
    .aboutme .photo img {
        width: 450px;
        height: auto;
    }
    
    .aboutme .nametag {
        padding-top: 1em;
        padding-left: 14.5em;
        font-family: "Barlow Semi Condensed", monospace;
        font-size: 2em;
        position: relative;
        margin-top: -17em;
    }
    
    .aboutme .nametag h1 {
        color: #494949;
    }
    
    .aboutme .bio .location {
        display: inline-block;
        margin-top: -2em;
    }
    
    .aboutme .bio .location .loctag {
        padding-left: 29em;
        display: inline-block;
    }
    
    .aboutme .bio .location .loctag .gg-pin {
        color: #93b284;
    }
    
    .aboutme .bio .location p {
        display: inline-block;
        padding-left: 0.8em;
        color: #87A678;
        font-size: 1.1em;
    }
    
    .aboutme .bio p {
        padding-top: 0em;
        padding-left: 21em;
        text-align: left;
        font-family: "Jura", monospace;
        font-size: 1.4em;
    }
    /* EXPERIENCE SECTION */
    
    .experiencesec {
        background-color: #3d3d3d;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Jura", monospace;
        color: #e3e2de;
    }
    
    * {
        box-sizing: border-box;
    }
    /* vertical line */
    
    .timeline {
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 5em;
        padding-bottom: 5em;
    }
    
    .timeline::after {
        content: '';
        position: absolute;
        width: 3px;
        background-color: #e3e2de;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    /* containers around content */
    
    .container {
        padding: 10px 35px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    /* circles on timeline */
    
    .container::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        right: -8px;
        background-color: #e3e2de;
        border: 4px solid #e3e2de;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    .circle-images img {
        padding-top: 22px;
        float: left;
        width: 4.5em;
    }
    /* place container to left */
    
    .left {
        left: 0;
    }
    /* place container to right */
    
    .right {
        left: 50%;
    }
    /* fix circle position for right containers */
    
    .right::after {
        left: -11px;
    }
    /* actual content */
    
    .content {
        padding: 5px 30px;
        background-color: #333333;
        /*position: relative;*/
        border-radius: 6px;
    }
    
    .content h2 {
        font-family: "Barlow Semi Condensed", monospace;
        float: center;
        padding-left: 4.5em;
        font-size: 1.4em;
    }
    
    .content h1 {
        float: center;
        padding-left: 7.8em;
        font-size: 0.8em;
        margin-top: -10px;
    }
    
    .content h3 {
        float: center;
        padding-left: 6.3em;
        font-size: 1em;
        margin-top: -9.5px;
    }
    
    .content p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* WORK SECTION */
    
    .worksec {
        background-color: #E5EBE2;
        padding-right: 4em;
        padding-left: 4em;
        padding-top: 8em;
        padding-bottom: 8em;
    }
    
    .worksec a:hover {
        color: #3d3d3d;
        text-decoration: none;
    }
    
    .worksec .centerboxes {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    
    .worksec .centerboxes .courseplanner-box {
        display: inline-block;
        width: 370px;
        height: 520px;
        background-color: rgba(135, 166, 120, 0.4);
        /*background-image: linear-gradient(to bottom right, #e3e2de, #87a678);*/
        border-radius: 10%;
        padding: 3em;
    }
    
    .worksec .centerboxes .athenahacks-box {
        display: inline-block;
        width: 370px;
        height: 520px;
        background-color: rgba(135, 166, 120, 0.4);
        /*background-image: linear-gradient(to bottom right, #e3e2de, #87a678);*/
        border-radius: 10%;
        padding: 3em;
    }
    
    .worksec .centerboxes .athenahacks-box:hover {
        cursor: alias;
    }
    
    .worksec .centerboxes .melodics-box {
        display: inline-block;
        width: 370px;
        height: 520px;
        background-color: rgba(135, 166, 120, 0.4);
        /*background-image: linear-gradient(to bottom right, #e3e2de, #87a678);*/
        border-radius: 10%;
        padding: 3em;
    }
    
    .worksec .centerboxes .melodics-box:hover {
        cursor: alias;
    }
    
    .worksec .centerboxes .courseplanner-box {
        display: inline-block;
        width: 370px;
        height: 520px;
        background-color: rgba(135, 166, 120, 0.4);
        /*background-image: linear-gradient(to bottom right, #e3e2de, #87a678);*/
        border-radius: 10%;
        padding: 3em;
    }
    
    .worksec .centerboxes .courseplanner-box:hover {
        cursor: alias;
    }
    
    .worksec h1 {
        font-family: "Barlow Semi Condensed", monospace;
        font-size: 3em;
        text-align: center;
        color: #3d3d3d;
    }
    
    .worksec h2 {
        font-family: "Jura", monospace;
        font-size: 1em;
        color: white;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }
    
    .worksec p {
        font-family: "Jura", monospace;
        font-size: 1.2em;
        padding-top: 1em;
        color: #3d3d3d;
        text-align: center;
    }
    /* RESUME */
    
    .resumesec {
        background-color: #3d3d3d;
        padding-right: 8em;
        padding-left: 8em;
        padding-top: 15em;
        padding-bottom: 11em;
    }
    
    .resumesec h1 {
        color: #e3e2de;
        font-family: "Jura", monospace;
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
    }
    
    .resumesec .button {
        background-color: #3d3d3d;
        border: 5px solid #e3e2de;
        border-radius: 30px;
        color: #e3e2de;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin: auto;
        font-family: "Jura", monospace;
        font-size: 2em;
    }
    
    .resumesec .button:hover {
        background-color: #e3e2de;
        color: #3d3d3d;
        cursor: alias;
    }
    
    .resumesec a {
        text-decoration: none;
    }
    /* FOOTER */
    
    footer {
        color: #87A678;
        text-align: center;
        font-family: "Monaco", monospace;
        padding: 1em;
    }
    
    .socials {
        width: 100%;
        margin: auto;
    }
    
    .socials li {
        margin: 10px;
        display: inline;
    }
    
    .fa {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 100px;
        width: 25px;
        text-decoration: none;
    }
    
    .fa-linkedin {
        background: #E5EBE2;
        color: #87A678;
    }
    
    .fa-envelope {
        background: #E5EBE2;
        color: #87A678;
    }
    /*.fa-instagram {
        background: #E5EBE2;
        color: #87A678;
    }*/
    /* TRANSITIONS */
    
    .fade-in {
        animation: fadeIn 2s
    }
    
    .reveal {
        position: relative;
        opacity: 0;
    }
    
    .reveal.active {
        opacity: 1;
    }
    
    .active.fade-bottom {
        animation: fade-bottom 0.5s ease-in;
    }
    
    .grow {
        transition: all .2s ease-in-out;
    }
    
    .grow:hover {
        transform: scale(1.05);
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fade-bottom {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .hideme {
        opacity: 0;
    }
    /* iPad (Landscape) Media Query - responsive timeline on screens less than 600px wide */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        .tabletLHide {
            display: none;
        }
        .tabletLShow {
            display: inline;
        }
        body {
            background-color: #E5EBE2;
        }
        header {
            margin-top: 5em;
            margin-bottom: 5em;
        }
        /* ABOUT SECTION */
        .aboutme {
            padding-top: 8em;
            padding-bottom: 12.5em;
        }
        .aboutme .photo img {
            width: 320px;
            height: auto;
        }
        .aboutme .nametag {
            font-size: 1.7em;
            padding-left: 14em;
            margin-top: -17em;
        }
        .aboutme .bio .location .loctag {
            padding-left: 24em;
        }
        .aboutme .bio p {
            font-size: 1.1em;
            padding-left: 21.7em;
        }
    }
    /* iPad (Portrait) Media Query - responsive timeline on screens less than 600px wide */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        .tabletPHide {
            display: none;
        }
        .tabletPShow {
            display: inline;
        }
        body {
            background-color: #e3e2de;
        }
        header {
            margin-top: 5em;
            margin-bottom: 5em;
        }
        nav {
            height: 60px;
            background-color: #e3e2de;
            padding-right: 0;
        }
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            background-color: #e3e2de;
            width: 100%;
        }
        nav li {
            /*float: left;*/
            width: 100%;
        }
        nav ul li a {
            display: block;
            padding: 20px 50px;
            text-decoration: none;
            text-align: right;
            font-family: "Fjalla One", monospace;
            font-size: 4em;
        }
        nav ul li.active-page a {
            color: #87A678;
        }
        nav ul .socials-mobile {
            padding-top: 7em;
            padding-right: 4em;
            background-color: #e3e2de;
        }
        /*nav ul .socials-mobile .fa {
            font-size: 150px;
        }*/
        nav ul .socials-mobile .fa-linkedin {
            padding-left: 0.5em;
            background: #e3e2de;
            color: #87A678;
        }
        nav ul .socials-mobile .fa-envelope {
            background: #e3e2de;
            color: #87A678;
        }
        /*nav ul .socials-mobile .fa-instagram {
            background: #e3e2de;
            color: #87A678;
        }*/
        /* menu */
        nav .menu {
            max-height: 0;
            transition: all .75s ease-in;
            transition: all .5s ease-out;
            /*transition: max-height .1s ease-out;*/
        }
        /* menu icon */
        nav .menu-icon {
            cursor: pointer;
            display: inline-block;
            float: right;
            padding: 28px 10px;
            position: relative;
            user-select: none;
            padding-right: 20px;
        }
        nav .menu-icon .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 20px;
        }
        nav .menu-icon .navicon:before,
        nav .menu-icon .navicon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        nav .menu-icon .navicon:before {
            top: 5px;
        }
        nav .menu-icon .navicon:after {
            top: -5px;
        }
        /* menu btn */
        .header .menu-btn {
            display: none;
        }
        nav .menu-btn:checked~.menu {
            /* MENU HEIGHT */
            max-height: 100em;
            height: 100em;
            padding-top: 150px;
        }
        nav .menu-btn:checked~.menu-icon .navicon {
            background: transparent;
        }
        nav .menu-btn:checked~.menu-icon .navicon:before {
            transform: rotate(-45deg);
        }
        nav .menu-btn:checked~.menu-icon .navicon:after {
            transform: rotate(45deg);
        }
        nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
        nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
            top: 0;
        }
        /* ABOUT SECTION */
        /* ABOUT SECTION */
        .aboutme {
            background-color: #e3e2de;
            padding-right: 1.5em;
            padding-left: 1.5em;
            padding-top: 5em;
            padding-bottom: 5em;
        }
        .aboutme h1 {
            color: #3d3d3d;
        }
        .aboutme .photo {
            padding-left: 1em;
            padding-right: 1em;
        }
        .aboutme .photo img {
            width: 325px;
            height: auto;
        }
        .aboutme .nametag {
            font-family: "Barlow Semi Condensed", monospace;
            font-size: 1.4em;
            padding-left: 17em;
            margin-top: -20em;
        }
        .aboutme .nametag h1 {
            color: #494949;
        }
        .aboutme .bio p {
            color: #494949;
            text-align: left;
            font-family: "Jura", monospace;
            font-size: 0.6em;
            padding-top: 0.5em;
            margin-left: -20em;
        }
        /* FOOTER */
        footer {
            background-color: #3d3d3d;
        }
        .fa-linkedin {
            background: #3d3d3d;
            color: #87A678;
        }
        .fa-envelope {
            background: #3d3d3d;
            color: #87A678;
        }
        /*.fa-instagram {
            background: #3d3d3d;
            color: #87A678;
        }*/
    }
    /* iPhone Media Query - responsive timeline on screens less than 600px wide */
    
    @media screen and (max-width: 600px) {
        /* hide sections on mobile */
        .mobileHide {
            display: none;
        }
        .mobileShow {
            display: inline;
        }
        body {
            background-color: #e3e2de;
        }
        header {
            width: 100%;
            height: 40em;
            margin-top: 5em;
        }
        /* NAVIGATION */
        nav {
            height: 60px;
            background-color: #e3e2de;
            padding-right: 0;
        }
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            background-color: #e3e2de;
            width: 100%;
        }
        nav li {
            /*float: left;*/
            width: 100%;
        }
        nav ul li a {
            display: block;
            padding: 20px 50px;
            text-decoration: none;
            text-align: right;
            font-family: "Fjalla One", monospace;
            font-size: 2.2em;
        }
        nav ul li.active-page a {
            color: #87A678;
        }
        nav ul .socials-mobile {
            padding-top: 7em;
            padding-right: 4em;
            background-color: #e3e2de;
        }
        nav ul .socials-mobile .fa-linkedin {
            padding-left: 0.5em;
            background: #e3e2de;
            color: #87A678;
        }
        nav ul .socials-mobile .fa-envelope {
            background: #e3e2de;
            color: #87A678;
        }
        /*nav ul .socials-mobile .fa-instagram {
            background: #e3e2de;
            color: #87A678;
        }*/
        /* menu */
        nav .menu {
            max-height: 0;
            transition: all .75s ease-in;
            transition: all .5s ease-out;
            /*transition: max-height .1s ease-out;*/
        }
        /* menu icon */
        nav .menu-icon {
            cursor: pointer;
            display: inline-block;
            float: right;
            padding: 28px 10px;
            position: relative;
            user-select: none;
            padding-right: 20px;
        }
        nav .menu-icon .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 20px;
        }
        nav .menu-icon .navicon:before,
        nav .menu-icon .navicon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        nav .menu-icon .navicon:before {
            top: 5px;
        }
        nav .menu-icon .navicon:after {
            top: -5px;
        }
        /* menu btn */
        .header .menu-btn {
            display: none;
        }
        nav .menu-btn:checked~.menu {
            /* MENU HEIGHT */
            max-height: 100em;
            height: 100em;
            padding-top: 150px;
        }
        nav .menu-btn:checked~.menu-icon .navicon {
            background: transparent;
        }
        nav .menu-btn:checked~.menu-icon .navicon:before {
            transform: rotate(-45deg);
        }
        nav .menu-btn:checked~.menu-icon .navicon:after {
            transform: rotate(45deg);
        }
        nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
        nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
            top: 0;
        }
        /* ABOUT SECTION */
        .aboutme {
            background-color: #e3e2de;
            padding-right: 1.5em;
            padding-left: 1.5em;
            padding-top: 3em;
            padding-bottom: 5em;
        }
        .aboutme h1 {
            color: #3d3d3d;
        }
        .aboutme .photo {
            padding-left: 1em;
            padding-right: 2em;
        }
        .aboutme .photo img {
            width: 380px;
            height: auto;
        }
        .aboutme .nametag {
            font-family: "Barlow Semi Condensed", monospace;
            font-size: 1.4em;
            padding-top: 15em;
            margin-left: -14.1em;
        }
        .aboutme .nametag h1 {
            color: #494949;
        }
        .aboutme .bio p {
            color: #494949;
            text-align: left;
            font-family: "Jura", monospace;
            font-size: 1.1em;
            padding-top: 0.5em;
            margin-left: -20.3em;
        }
        /* EXPERIENCE SECTION */
        .experience {
            background-color: #3d3d3d;
        }
        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }
        .timeline h4 {
            font-size: 2em;
            font-family: "Barlow Semi Condensed", monospace;
            text-align: center;
            margin-top: -0.5em;
        }
        /* Full-width containers */
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
        /* Make sure that all arrows are pointing leftwards */
        .container::before {
            left: 60px;
            border: medium solid #e3e2de;
            border-width: 10px 10px 10px 0;
            border-color: transparent #e3e2de transparent transparent;
        }
        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 20px;
        }
        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
        .content h2 {
            font-family: "Barlow Semi Condensed", monospace;
            float: center;
            padding-left: 4.5em;
            font-size: 1.4em;
        }
        .content h1 {
            float: center;
            padding-left: 7.8em;
            font-size: 0.8em;
            margin-top: -10px;
            margin-left: -7.8em;
        }
        .content h3 {
            padding-top: 0.7em;
            margin-left: -6.3em;
        }
        /* WORK */
        .worksec {
            background-color: #E5EBE2;
            padding-right: 1em;
            padding-left: 1em;
            padding-top: 5em;
            padding-bottom: 5em;
            margin: auto;
            text-align: center;
        }
        .worksec .centerboxes {
            display: block;
            margin: auto;
            height: 100%;
            /*margin-left: -1em;*/
        }
        .worksec .centerboxes .courseplanner-box {
            width: 350px;
            height: 430px;
            padding: 2em;
            margin-bottom: 2em;
        }
        .worksec .centerboxes .athenahacks-box {
            width: 350px;
            height: 430px;
            padding: 2em;
        }
        .worksec .centerboxes .melodics-box {
            width: 350px;
            height: 430px;
            padding: 2em;
            margin-bottom: 2em;
        }
        .worksec h1 {
            font-size: 2em;
        }
        .worksec h4 {
            font-size: 2.5em;
            font-family: "Barlow Semi Condensed", monospace;
            text-align: center;
            margin-top: -0.5em;
            color: #3d3d3d;
        }
        /* FOOTER */
        .footer {
            background-color: #e3e2de;
        }
        .fa-linkedin {
            background: #e3e2de;
            color: #87A678;
        }
        .fa-envelope {
            background: #e3e2de;
            color: #87A678;
        }
        /*.fa-instagram {
            background: #e3e2de;
            color: #87A678;
        }*/
    }