/* BODY & BACKGROUND */

body {
    background: #f3f3ef;
    min-height: 100%;
    animation: fadeInAnimation ease 1.3s;
}


/* SECTION 1 STYLES */

#section1 {
    padding: 2.5em 2em 7em 2em;
    display: flex;
    align-items: flex-start;
    /* Align items to the start of the flex container */
}

#section1 .left-section {
    flex: 1;
    padding-right: 2em;
}

#section1 .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #ccc;
}

#section1 .right-section {
    flex: 1;
    text-align: left;
    padding: 20px;
}

#section1 .right-section h2 {
    margin-bottom: 1em;
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 2.7em;
    font-weight: 400;
    /* Add this to remove top margin */
}

#section1 .right-section p {
    margin-bottom: 0;
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 300;
}
#section1 .social-button {
    text-align: left;
    margin-top: 2em;
}

#section1 .rounded-rectangle {
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    border: 1px solid #333333;
    border-radius: 20px;
    background-color: transparent;
    color: #333333;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    font-weight: 200;
    text-decoration: none;
    display: inline-block;
}

#section1 .rounded-rectangle:hover {
    background-color: #333333;
    color: #f3f3ef;
}


/* PAGE DIVIDER */

.divider {
    height: 1px;
    background-color: #333333;
    width: 100%;
    margin: 20px 0;
    /* Adjust as needed */
}


/* SECTION 2 STYLES */

#section2 {
    padding: 2em 2em 3em;
    display: flex;
}

#section2 .left-section,
#section2 .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#section2 .title-box h2 {
    margin-bottom: 0.5em;
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 2.7em;
    font-weight: 400;
}

#section2 .left-section {
    padding-right: 2em;
    /* Add padding to the right */
}

#section2 .left-section .playlist {
    flex: 1;
}

#section2 .left-section .playlist iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#section2 .right-section {
    padding-left: 1.5em;
    /* Add padding to the left */
}

#section2 .right-section .photo-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#section2 .right-section .photo-grid img {
    width: calc(33.33% - 10px);
    margin: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ccc;
    aspect-ratio: 3/4;
}

@media only screen and (min-width: 1200px) { 
    #section1 .right-section p {
        font-size: 1.3em;
    }
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
    #section1 {
        flex-direction: column;
        padding-bottom: 5em;
    }
    #section1 .left-section,
    #section1 .right-section {
        flex: 1;
        padding: 0;
    }
    #section1 .right-section {
        text-align: left;
    }
    #section1 .right-section h2 {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    #section1 .right-section p {
        font-size: 1em;
    }
    #section1 .social-button {
        text-align: center;
    }
    #section2 {
        flex-direction: column;
        padding-bottom: 3em;
        padding-left: 1.5em;
        /* Add left padding to compensate for playlist padding */
        padding-right: 1.5em;
        /* Add right padding to compensate for playlist padding */
    }
    #section2 .left-section {
        padding-bottom: 2em;
    }
    #section2 .right-section {
        padding: 0;
    }
    #section2 .title-box h2 {
        font-size: 2em;
        padding-left: 0.3em;
    }
    #section2 .left-section .playlist {
        width: calc(100% + 2em);
        /* Adjusted width */
        padding: 0 0.5em 0 0.5em;
        /* Set padding */
    }
    #section2 .left-section .playlist iframe {
        width: 100%;
        height: 400px;
    }
    #section2 .right-section .photo-grid img {
        width: calc(50% - 10px);
        aspect-ratio: 3/4;
    }
}