/* BODY & BACKGROUND */

body {
    background-image: url('../../assets/Home.jpg');
    background-size: cover;
    /* Ensures the image zooms in to fill the entire viewport */
    background-position: center center;
    /* Centers the image */
    background-repeat: repeat;
    /* Prevents the image from repeating */
    min-height: 100vh;
    /* Ensures the body takes up the entire viewport height */
    overflow-x: hidden;
    /* Hides horizontal overflow */
    overflow-y: hidden;
    /* Hides vertical overflow */
}


/* SUMMARY */

.summary {
    padding: 2em 15em 0 2em;
    display: block;
}

.summary h2 {
    font-family: "JetBrains Mono", monospace;
    color: #333333;
    font-size: 7em;
    font-weight: 300;
}

.summary p {
    margin-bottom: 2em;
    font-family: "JetBrains Mono", monospace;
    color: #333333;
    font-size: 1em;
    font-weight: 300;
    padding-left: 0.5em;
}

.home-page footer {
    background-color: #fdfdfa;
    /* Set the background color */
}


/* ANIMATIONS - GRADIENT */

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


/* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
    .summary {
        flex-direction: column;
        padding: 1em 1.5em 0 2em;
        /* stack items vertically */
    }
    .summary h2 {
        font-size: 4em;
        margin-bottom: 0.5em;
        line-height: 1.1em;
    }
    .summary p {
        font-size: 1em;
        padding-left: 0em;
    }
}