/* BODY & BACKGROUND */

body {
    background: linear-gradient(45deg, #c5f9ee, #f3f3ef, #f3f3ef, #c5f9ee);
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    overflow: hidden;
}


/* SUMMARY */

.summary {
    padding: 9em 15em 0 2em;
    display: flex;
}

.summary h2 {
    margin-bottom: 2em;
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 4.5em;
    font-weight: 400;
}


/* ANIMATIONS - GRADIENT */

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


/* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
    .summary {
        flex-direction: column;
        padding: 3em 1.5em 0 2em;
        /* stack items vertically */
    }
    .summary h2 {
        font-size: 2.2em;
    }
}