/* BODY & BACKGROUND */

body {
    background: #FDFDFA;
    min-height: 100%;
    animation: fadeInAnimation ease 1.3s;
}

/* WORK EXPERIENCE TILES */

.work-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
}

.work-tile {
    cursor: none;
    border-radius: 15px;
    padding: 24em 1.2em 1em;
    margin-bottom: 2em;
    width: calc(50% - 1em);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.work-tile:hover {
    transform: scale(1.03);
    /*opacity: 0.8;*/
}

.year {
    font-family: "JetBrains Mono", monospace;
    color: #FDFDFA;
    font-size: 1em;
    font-weight: 200;
}

.project-name {
    font-size: 2.5em;
    font-family: "Bai Jamjuree", sans-serif;
    color: #FDFDFA;
    text-align: left;
    font-weight: 400;
}

.mobile-title {
    display: none;
}


/* INDIVIDUAL WORK PAGE STYLES */


/* page dividers */

.divider {
    height: 1px;
    background-color: #333333;
    width: 100%;
    margin: 20px 0;
}


/* section 1 styles */

#section1 {
    padding: 2em 2em 3em;
    display: flex;
    align-items: center;
}

#section1 .left-section {
    flex: 1;
    width: 33.33%;
}

#section1 .right-section {
    flex: 2;
    width: 66.67%;
    margin-left: -3em;
}

#section1 .image-container {
    width: 80%;
    padding-top: 80%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 15px;
    z-index: 998;
    /* Ensure it's behind the hamburger menu */
}

#section1 .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    border-radius: 15px;
    z-index: 998;
    /* Ensure it's behind the hamburger menu */
}

#section1 h2 {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

#section1 p {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 1.5em;
    font-weight: 300;
}

#section1 .rounded-rectangles {
    display: flex;
    gap: 1.5em;
    margin-top: 2.5em;
    flex-wrap: wrap;
}

#section1 .rounded-rectangle {
    box-sizing: border-box;
    padding: 0.3em 1.5em 0.3em 1.5em;
    border: 1px solid #333333;
    border-radius: 15px;
    background-color: transparent;
    color: #333333;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    font-weight: 200;
}


/* section 2 styles */

#section2 {
    padding-bottom: 2em;
}

#section2 h2 {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
    padding: 1em 1em 0 1em;
}

#section2 h3 {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 1.4em;
    margin-right: 1.7em;
    margin-bottom: 0.5em;
}

#section2 p,
#section2 li {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 300;
    margin-left: 1.8em;
    margin-right: 1.7em;
    margin-bottom: 0.5em;
    list-style-type: circle;
}

#section2 p a {
    text-decoration: none;
    ;
}

#section2 .titles-captions .title-caption .user-flow {
    display: flex;
    width: 100vw;
    padding-left: 2em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#section2 .titles-captions .title-caption .t4g-image {
    display: block;
    margin: 2em auto;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
}

#section2 .titles-captions .title-caption .frame-container {
    display: flex;
    width: 100vw;
    height: 50vw;
    padding-left: 2em;
    padding-right: 3em;
}

#section2 .titles-captions .title-caption .frame-container .melodics {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#section2 .see-project-button {
    text-align: center;
    margin-top: 2em;
}

#section2 .rounded-rectangle {
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    border: 1px solid #333333;
    border-radius: 20px;
    background-color: transparent;
    color: #333333;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    font-weight: 200;
    text-decoration: none;
    display: inline-block;
}

#section2 .rounded-rectangle:hover {
    background-color: #333333;
    color: #FDFDFA;
}


/* BUBBLE STYLES */

#section2 .bubble-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#section2 .bubble {
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #333333;
    color: #333333;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    text-align: center;
    font-size: 1em;
    display: flex;
    align-items: center;
    /* Center vertically */
}

#section2 .bubble-text {
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    font-weight: 200;
}


/* section 3 styles */

#section3 .navigation-arrows {
    display: flex;
    justify-content: flex-end;
    /* align items to the right */
    padding: 1.5em 0 3em 0;
    margin-right: 2em;
}

#section3 .arrow-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#section3 .arrow-container h2 {
    margin-right: 1em;
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 2em;
    font-weight: 400;
}

#section3 .arrow-container i {
    font-size: 1em;
    color: #333333;
}

#section3 .arrow-container:hover {
    opacity: 0.8;
}


/* CURSOR BUBBLE ON HOVER */

.cursor-bubble {
    position: fixed;
    display: none;
    background-color: #FDFDFA;
    color: #333333;
    padding: 7px 12px 7px 12px;
    border-radius: 15px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
    font-size: 1em;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.cursor-bubble .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #333333;
    margin-right: 5px;
}


/* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
    /* MOBILE TITLE */
    .mobile-title {
        display: block;
        font-family: "Bai Jamjuree", sans-serif;
        color: #333333;
        font-size: 2em;
        text-align: left;
        margin-top: 1em;
        margin-left: 1.5em;
    }
    /* WORK EXPERIENCE TILES */
    .work-tiles {
        justify-content: center;
        margin-top: 2em;
    }
    .work-tile {
        padding: 15em 1em 0.8em;
        width: calc(100% - 0.5em);
        cursor: pointer;
    }
    .year {
        font-size: 0.8em;
    }
    .project-name {
        font-size: 1.5em;
    }
    /* INDIVIDUAL WORK PAGES - SECTION 1 */
    #section1 {
        flex-direction: column;
        align-items: flex-start;
    }
    #section1 .left-section,
    #section1 .right-section {
        width: 100%;
        margin-left: 0;
    }
    #section1 .image-container {
        width: 100%;
        padding-top: 100%;
    }
    #section1 h2 {
        padding-top: 0.7em;
        font-size: 2em;
    }
    #section1 p {
        font-size: 1.2em;
    }
    #section1 .rounded-rectangles {
        margin-top: 1.5em;
        gap: 0.8em;
    }
    #section1 .rounded-rectangle {
        font-size: 0.8em;
        padding: 0.3em 1.2em 0.3em 1.2em;
    }
    #section2 h3 {
        font-size: 1.4em;
    }
    #section2 .titles-captions .title-caption .t4g-image {
        width: 85%;
        margin: 1em auto;
    }
    #section2 .bubble-container {
        flex-direction: column;
        align-items: center;
    }
    #section2 .bubble {
        background-color: #FDFDFA;
        border-radius: 25px;
        color: #333333;
        padding-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 1em;
        text-align: center;
        font-size: 1em;
        display: flex;
        align-items: center;
        /* Center vertically */
    }
    #section2 .bubble-text {
        font-family: "JetBrains Mono", monospace;
        font-size: 1em;
        font-weight: 200;
    }
    /* FOOTER */
    footer {
        height: 2em;
    }
}