/* BODY & BACKGROUND */

body {
    background: #f3f3ef;
    min-height: 100%;
}


/* WORK EXPERIENCE TILES */

.work-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* adjust spacing between tiles */
    margin: 2em;
    padding-bottom: 3em;
}

.work-tile {
    cursor: none;
    border-radius: 15px;
    padding: 24em 1.2em 1em;
    margin-bottom: 2em;
    width: calc(50% - 1em);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.work-tile:hover {
    transform: scale(1.03);
    /*opacity: 0.8;*/
}

.year {
    font-family: "JetBrains Mono", monospace;
    color: #f3f3ef;
    font-size: 1em;
    font-weight: 200;
}

.project-name {
    font-size: 2.5em;
    font-family: "Bai Jamjuree", sans-serif;
    color: #f3f3ef;
    text-align: left;
    font-weight: 400;
}

.mobile-title {
    display: none;
}


/* INDIVIDUAL WORK PAGE STYLES*/


/* page dividers */

.divider {
    height: 1px;
    background-color: #333333;
    width: 100%;
    margin: 20px 0;
    /* Adjust as needed */
}


/* section 1 styles */

#section1 {
    padding: 3em 2em 3em;
    display: flex;
    align-items: center;
}

#section1 .left-section {
    flex: 1;
}

#section1 .right-section {
    flex: 3;
    /* Adjust as needed */
}

#section1 .image-container {
    width: 12em;
    /* Adjust the size of the image container */
    height: 12em;
    /* Adjust the size of the image container */
    background-color: #ccc;
    /* Grey background for the image container */
    /* add background image later */
}

#section1 h2 {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

#section1 p {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
}

#section1 .rounded-rectangles {
    display: flex;
    gap: 1em;
    /* Adjust the gap between rectangles */
    margin-top: 1.5em;
    /* Adjust the margin between caption and rectangles */
}

#section1 .rounded-rectangle {
    flex: 1;
    padding: 3px;
    border: 2px solid #333333;
    border-radius: 15px;
    background-color: transparent;
    color: #333333;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.8em;
    font-weight: 200;
}


/* section 2 styles */

#section2 {
    padding-bottom: 2em;
}

#section2 h2 {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
    padding: 1em 1em 0 1em;
}

#section2 p {
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    margin-left: 1.7em;
    margin-right: 1.7em;
    margin-bottom: 0.5em;
}


/* section 3 styles */

#section3 .navigation-arrows {
    display: flex;
    justify-content: flex-end;
    /* Align items to the right */
    padding: 1.5em 0 5em 0;
    margin-right: 2em;
    /* Adjust as needed */
}

#section3 .arrow-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#section3 .arrow-container h2 {
    margin-right: 1em;
    font-family: "Bai Jamjuree", sans-serif;
    color: #333333;
    font-size: 2em;
    font-weight: 400;
    /* Adjust the spacing between text and icon */
}

#section3 .arrow-container i {
    font-size: 1em;
    /* Adjust the size of the icon */
    color: #333333;
    /* Adjust the color of the icon */
}

#section3 .arrow-container:hover {
    opacity: 0.8;
}


/* CURSOR BUBBLE HOVER */

.cursor-bubble {
    position: fixed;
    display: none;
    background-color: #f3f3ef;
    color: #333333;
    padding: 7px 12px 7px 12px;
    border-radius: 15px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
    font-size: 1em;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.cursor-bubble .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #333333;
    margin-right: 5px;
}


/* FOOTER */

footer {
    height: 2em;
}


/* MOBILE MEDIA QUERY */

@media screen and (max-width: 768px) {
    /* WORK EXPERIENCE TILES */
    .work-tiles {
        justify-content: center;
    }
    .work-tile {
        padding: 15em 1em 0.8em;
        width: calc(100% - 0.5em);
    }
    .year {
        font-size: 0.8em;
    }
    .project-name {
        font-size: 1.5em;
    }
    /* MOBILE TITLE */
    .mobile-title {
        display: block;
        font-family: "Bai Jamjuree", sans-serif;
        color: #333333;
        font-size: 2em;
        /* Adjust the font size as needed */
        text-align: left;
        /* Left-align the title */
        margin-top: 1em;
        margin-left: 1.5em;
    }
    /* FOOTER */
    footer {
        height: 2em;
    }
}